.about_box{
	width: 90%;
	margin: 0 auto;
	background-color: black;
	margin-top: 20px;
	padding: 5%;
}
.about_box p{
	font-size: 24px;
	color: white;
}
.about_email{
	font-size: 24px;
	color: white;
}
.breakline{
	border: 1px solid red;
	width:100%;
}

.about_email:hover{
    color: red;
    text-decoration: none;
}
.about_email:focus{
    color: red;
    text-decoration: none;
}




::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b30000;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red; 
  }