body{
	background-color: 	black;
    font-family: 'Roboto' serif;
    color: white;
    
}
.info_area_white{
	
	background: rgba(255, 255, 255, 0);;
    padding: 25px;
    
    height: 100%;
    
}

.info_area_paragraph{
    padding: 20px 0px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bg{
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info_div{
    padding: 20px;
}

.h1_style{
    font-size: 56px; 
    border: solid white 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 350px;
    margin-bottom: 40px;
}
