.logo{
	height: 10%;
	width: 10%;
	padding: 10px;
	float: left;
	margin-bottom: 7px;

}

.navbar_container{
	width: 95%;
	margin: 0 auto;
}


header{
	background-color: black;
}
header::after{
	content: "";
	display: table;
	clear: both;
}
nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 50px;
	font-size: 16px;
	padding-top: 40px;
	position: relative;
}

nav a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
nav a:hover{
	color: grey;
	text-decoration: none;
}
nav a::before{
	content: '';
	display: block;
	height: 5px;
	background-color: white;
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}
nav a:hover::before{
	width: 100%;
}